$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 1px;
$light-off-opacity: 0.4;

:root {
  --wire-color: #222;
  --glow-opacity: 1;
  --glow-dim-opacity: 0.2;
}

[data-theme="light"] {
  --wire-color: #666;
  --glow-opacity: 0.8;
  --glow-dim-opacity: 0.15;
}

.lightrope {
    direction: ltr;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;

    li {
        position: relative;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        width: $globe-width;
        height: $globe-height;
        border-radius: 50%;
        margin: $globe-spacing/2;
        display: inline-block;
        background: rgba(0, 247, 165, 1);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, 1);
        animation-name: flash-1;
        animation-duration: 3s;

        &:nth-child(2n+1) {
            background: rgba(0, 255, 255, 1);
            box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, 0.5);
            animation-name: flash-2;
            animation-duration: 4s;
        }

        &:nth-child(4n+2) {
            background: rgba(247, 0, 148, 1);
            box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, 1);
            animation-name: flash-3;
            animation-duration: 5s;
        }

        &:nth-child(odd) {
            animation-duration: 3.5s;
        }

        &:nth-child(3n+1) {
            animation-duration: 4.5s;
        }

        &:before {
            content: "";
            position: absolute;
            background: var(--wire-color);
            width: ($globe-width - 2);
            height: $globe-height/3;
            border-radius: 3px;
            top: (0 - ($globe-height/6));
            left: 1px;
        }

        &:after {
            content: "";
            top: (0 - $globe-height/2);
            left: $globe-width - 3;
            position: absolute;
            width: $globe-spacing + 12;
            height: ($globe-height/3 * 2);
            border-bottom: solid var(--wire-color) 2px;
            border-radius: 50%;
        }

        &:last-child:after {
            content: none;
        }

        &:first-child {
            margin-left: -$globe-spacing;
        }
    }
}

@keyframes flash-1 {

    0%,
    100% {
        background: rgba(0, 247, 165, var(--glow-opacity));
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, var(--glow-opacity));
    }

    50% {
        background: rgba(0, 247, 165, $light-off-opacity);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-2 {

    0%,
    100% {
        background: rgba(0, 255, 255, var(--glow-opacity));
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, var(--glow-opacity));
    }

    50% {
        background: rgba(0, 255, 255, $light-off-opacity);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, 0.2);
    }
}

@keyframes flash-3 {

    0%,
    100% {
        background: rgba(247, 0, 148, var(--glow-opacity));
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, var(--glow-opacity));
    }

    50% {
        background: rgba(247, 0, 148, $light-off-opacity);
        box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, 0.2);
    }
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}